<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Map" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Chat" tabIcon="chatboxes"></ion-tab>
</ion-tabs>
