<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-buttons>
        <button ion-button (click)="getMoreMessages()"> Get Older Messages
        </button>
    </ion-buttons>
  <div *ngFor="let message of messages | sort:'modifiedDate'" class="message-wrapper rlt">

    <div *ngIf="message.createdByUserId != 1">

      <div class="chat-bubble left">

        <div class="message">
          {{ message.senderName }}
        </div>

        <div class="message">
          {{ message.messageText }}
        </div>

        <div class="message-detail">
          <span class="message-time">{{ message.modifiedDate | timeago }}</span>
        </div>

      </div>
    </div>

    <div *ngIf="message.createdByUserId == 1">

      <div class="chat-bubble right">

        <div class="message">
          Me
        </div>
        <div class="message">
          {{ message.messageText }}
        </div>

        <div class="message-detail">
          <span class="message-time">{{ message.modifiedDate | timeago }}</span>
        </div>

      </div>

    </div>

    <div class="cf"></div>

  </div>
</ion-content>

<ion-footer>

  <ion-toolbar class="no-border" color="white">
    

    <ion-input [(ngModel)]="newMessage" placeholder="Write your message"></ion-input>

    <ion-buttons end>
      <button ion-button (click)="sendMessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-footer>
