<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <div> Sender Name : {{ lastMessage?.createdByUserId == 1 ? "Me" :  lastMessage?.senderName }} </div> 
 <div> Message Text : {{ lastMessage?.messageText }} </div>
 <div> Date : {{ lastMessage?.modifiedDate | timeago }} </div>
</ion-content>
